body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  margin: 0 auto;
  width: 1440px;
  font-family: "Bree Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2 {
  font-family: "Bowlby One SC", cursive;
}

h1 {
  color: #f33e55;
  font-size: 48px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "Bowlby One SC", cursive;
}

.header,
.footer {
  background-color: #282634;
  color: #fff;
}

.navigation:hover {
  color: #f33e55;
}

.navigation-active {
  color: #f33e55;
}

.item-rounded {
  border-radius: 16px;
}

.search-bar {
  width: 685px;
  height: 81px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  column-gap: 10px;
}

.input-field {
  width: 550px;
  height: 100%;
  border: none;
  border-radius: 16px;
  padding: 0 20px;
  font-size: 24px;
}
.input-field:focus {
  outline: none;
}

.event-item {
  width: 383px;
  height: 308px;
}

.img-rounded {
  border-radius: 16px 16px 0 0;
}

.button {
  background-color: #f33e55;
  color: #fff;
}

.vip-tickets {
  background-color: #fef9c3;
  color: #fff;
}

.couple-tickets {
  background-color: #fce7f3;
  color: #fff;
}

.normal-tickets {
  background-color: #dcfce7;
  color: #000;
}

.chosen-tickets {
  background-color: #d9d9d9;
  color: #fff;
}
.seat-type-info {
  width: 50px;
  height: 50px;
}

.booking-status {
  width: 331px;
}

.seat {
  width: 70px;
  height: 70px;
}

.form {
  width: 888px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
